{% extends 'base.html.twig' %}

{% block title %}Hello ContactSucessController!{% endblock %}
{% block body %}
<hr/>
<p class="h1 text-center mt-5">Votre message a été envoyer avec succes</p>
<hr/>
{% endblock %}
