{%  extends 'base.html.twig' %}

{% block body %}
<hr/>
    <p class="h1 text-success text-center mt-5">Utilisateur supprimer</p>
<hr/>

<script>
setTimeout(() => {
    document.location.href = "/user";
}, 5000);
</script>
{% endblock %}